@import url("https://fonts.googleapis.com/css?family=Audiowide|Rum+Raisin&display=swap");

html {
  font-size: calc(0.5em + 0.5vw);
}

body {
  background-color: #f1d302;
}

article {
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 1em;
}

button.intro-p.float-center.btn.btn-primary {
  background-color: #f73f52;
  color: #fdfffc;
  border-color: #f73f52;
}

a.nav-link {
  color: #fdfffc;
  padding: 5px;
}

.nav {
  background-color: #f1d302;
  font-family: "Rum Raisin", sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 100;
  padding-top: 1%;
}

.separator {
  margin-top: 5px;
  color: #161925;
}

.avatar {
  margin-top: 14vh;
}

.intro {
  margin-top: 5vh;
}

.intro-h {
  font-family: "Audiowide", cursive;
  font-size: 3em;
  letter-spacing: 0.1em;
  color: #f73f52;
}

.intro-p {
  font-family: "Rum Raisin", sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  color: #161925;
}

.project-h {
  font-family: "Audiowide", cursive;
  color: #fdfffc;
}

.project-p {
  font-family: "Rum Raisin", sans-serif;
  color: #f73f52;
}

.icons {
  width: 90px;
  height: 100%;
  padding-top: 10px;
  margin: 0 15px;
}

.icon-p,
.icon-p2 {
  font-family: "Rum Raisin", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin: 0 25px;
}

.icon-p2 {
  margin: 0 40px;
  margin-bottom: 3%;
}

.work {
  margin-top: 3%;
}

.project-detail-background {
  background-color: #fdfffc;
  margin-top: -18px;
  width: 100%;
  height: 75px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.project-icons-margin {
  margin: auto;
  width: 100%;
}

.projectDiv {
  height: 100%;
  padding-top:20px;
}

.media-link {
  width: 100%;
  margin-top: 5%;
}

.media-link.active {
  color: #fdfffc;
}

.media-link-icons:hover {
  color: #f73f52;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;
}

.overlayContainer {
  position: relative;
  width: 100%;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay2 {
  transition: 0.5s ease;
  opacity: 0;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.overlayContainer:hover .overlay2 {
  opacity: 0.7;
}

.codeBtn,
.codeBtn:active,
.codeBtn:hover {
  background-color: #f1d302;
  border-color: #f1d302;
  border-radius: 5px !important;
}

.webBtn,
.webBtn:active,
.webBtn:hover {
  background-color: #f73f52;
  border-color: #f73f52;
  border-radius: 5px !important;
}